p {
  text-align: center;
}
form {
  padding: 5%;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 17px;
  text-align: center;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
}
